@font-face {
  font-family: Muli-Bold;
  src: url(../assets/fonts/Muli-Bold.ttf);
}

@font-face {
  font-family: Muli-Regular;
  src: url(../assets/fonts/Muli-Regular.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Muli-Regular;
  font-size: 16px;
}

html {
  font-size: 100%;
}
