@media screen and (min-width: 20rem) {
  #logo {
    max-width: 8rem;
    height: auto;
    cursor: pointer;
    margin-left: 0.25rem;
  }
}

@media screen and (max-width: 20rem) {
  #logo {
    max-width: 8rem;
    height: auto;
    cursor: pointer;
    margin-left: 0.25rem;
  }
}

@media screen and (min-width: 30rem) {
  #logo {
    max-width: 6rem;
    height: auto;
    cursor: pointer;
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 37.5rem) {
  #logo {
    max-width: 7rem;
    height: auto;
    cursor: pointer;
    margin-left: 0.75rem;
  }
}

@media screen and (min-width: 48rem) {
  #logo {
    max-width: 8rem;
    height: auto;
    cursor: pointer;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 62rem) {
  #logo {
    max-width: 9rem;
    height: auto;
    cursor: pointer;
  }
}

@media screen and (min-width: 75rem) {
  #logo {
    max-width: 10rem;
    height: auto;
    cursor: pointer;
    margin-left: 2rem;
  }
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  white-space: nowrap;
  align-items: center;
}

.nav__bar {
  display: flex;
  justify-content: space-between;
  margin-right: 3.813rem;
}

.nav__icons {
  cursor: not-allowed;
}

#search {
  height: 20px;
  width: 20px;
  margin: 1.25rem;
}

#log-in {
  height: 24px;
  width: 20px;
  margin: 1.25rem;
}

#bag {
  height: 24px;
  width: 20px;
  margin: 1.25rem;
  cursor: pointer;
}
